
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <!--  <span>HOME</span> -->
       <a mat-button routerLink="/">Home</a>
       <a *ngIf="currentUser != null" mat-button routerLink="/areaselection">Area Selection</a>
       <a *ngIf="currentUser != null" mat-button routerLink="/dataviz">DataVisualization</a>
       <span class="spacer"></span>
       <a *ngIf="currentUser == null" mat-button routerLink="/register">Register</a>
       <a *ngIf="currentUser == null" mat-button routerLink="/login">Login</a>
       <button *ngIf="currentUser != null" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
         <mat-icon>badge</mat-icon>
       </button>
       <mat-menu #menu="matMenu">
         <button mat-menu-item>
           <mat-icon>settings</mat-icon>
           <span>Settings</span>
         </button>

         <button mat-menu-item routerLink="/logout">
           <mat-icon>logout</mat-icon>
           <span>Logout</span>
         </button>
       </mat-menu>
    </mat-toolbar-row>
 </mat-toolbar>



<router-outlet></router-outlet>