<div   class="mapgrid" >
    <div class="maprow" >
        <div style="height: 100%;min-width:600px;"  
            leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)" (leafletClick)="getPolygon($event)">
            <div *ngIf="drawMode" leafletDraw [leafletLayer]="drawnItems"     
                (gridReady)="onAreaGridReady($event)"
                [leafletDrawOptions]="drawOptions"
                (leafletDrawCreated)="onDrawCreated($event)"
                (leafletDrawStart)="onDrawStarted($event)">
            </div>
        </div>
    </div>
    <div class="gridrow" style="height:100%;">
        <mat-tab-group style="height:100%;">
            <mat-tab label="Selected Tracts" style="height:500px;">
                <button mat-raised-button (click)="storeAois()" color="primary">Store</button>
                <app-area-list [map]="map"></app-area-list> 
            </mat-tab>
            <mat-tab label="FCC Form 477">
<app-f477-entry></app-f477-entry>
            </mat-tab>
            <!--
            <mat-tab label="Addresses">
                <ag-grid-angular
                    style="width: 500px; height: 100%;"
                    class="ag-theme-alpine"   
                    [columnDefs]="columnDefs" [rowModelType]='"infinite"' (gridReady)="onGridReady($event)">
                </ag-grid-angular> 
            </mat-tab> -->
        </mat-tab-group>

    </div>
</div>
