.small {
    width: 0.75rem;
    height: 0.75rem;
    font-size: 0.75rem;
  }
  .f477-form {
    min-width: 250px;
    max-width: 500px;
    width: 90%;
    margin:5%;
  }
  .field-full-width {
    width:100%;
  }